.orderLi{
    display: block;
    color: #000;
    font-size: 20px;
    margin: 15px ;
}
.orderLi:hover{
    text-decoration: none;
    color: #000;
}
.orderSubmit{
    background : #F4F7FC;
    height: 90vh;
    padding : 50px 30px;
}
.orderList{
    padding-left: 100px ;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}